# RStudio & R internals
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Quarto internals
.quarto/
_freeze/
# Quarto cache folders
*_cache/
**/*.quarto_ipynb

# Spatial Data
*.shp
*.dbf
*.prj
*.shx
*.sbn
*.sbx
*.cpg
*.xml
/.quarto/
