# RStudio & R internals
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Quarto internals
.quarto/
site_libs/
# Quarto cache folders
*_cache/
**/*.quarto_ipynb
figure-pdf/

# Spatial Data
Data/
data/
*.shp
*.dbf
*.prj
*.shx
*.sbn
*.sbx
*.cpg
*.xml
*.tif
*.tfw
*.nc

*.png
*.jpg
!images/
!docs/images/

/.quarto/


